body {
    font-family: 'Inter', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1310px;
}


/* HEADER */

.header {
    background-color: #2A377A;
    padding: 30px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 50px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__link,
.logo__span {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.4s ease-in-out;
}

.header__link:hover {
    color: #a89b9b;
}


/* the-first-section */

.the-first-section {
    color: #000;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 150px;
    margin-top: 100px;
}

.contacts__img {
    margin-top: 100px;
    gap: 20px;
}

.contacts__text {
    font-size: 30px;
    margin-top: 15px;
}

.container__contact {
    margin-top: 50px;
}