body {
    font-family: 'Inter', sans-serif;
}

/* SERVICE */



.img_block {
    width: 1110px;
    height: 624px;
    border-radius: 40px;
    border: black 4px solid;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
    margin-bottom: 50px;
    background-image: url(../IMG/product.png);
    background-position: 100%;
}

.block_product {
    width: 1111px;
    margin: 0 auto;
    margin-bottom: 500px;
}

.text__hero::before{
    content: 'бесплатно';
    display: inline;
    border-radius: 20px;
    background: rgb(255, 0, 0);
    padding: 10px 15px;
    left: -50px;
    top: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    transition: background-color 0.4s ease-in-out;
}

.hero__header {
    font-size: 40px;
}

.btn {
    float: right;
    background-color: #0D0043;
    padding: 15px 25px;
    font-size: 30px;
    color: white;  
    border: #13005f solid 4px;
    border-radius: 20px;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #001582;
    border: #2000A0 4px solid;
}

.btn:focus {
    border: #000B46 4px solid;
    background-color: #000b4600;
    color: #0D0043;
}

.product_desc {
    font-size: 30px;
}

.products_subtitle {
    font-size: 50px;
    margin-top: 300px;
    margin-bottom: 30px;
}

@media (max-width: 530px) {
    .img_block {
        width: 370px;
        height: 208px;
        background-image: url(../IMG/product.png);
    }
    .block_product {
        width: 379px;
    }
    .text__hero::before {
        font-size: 20px;
    }
    .btn {
        font-size: 20px;
    }
    .products_subtitle {
        font-size: 20px;
    }
    .product_desc {
        font-size: 15px;
    }
}

@media (min-width: 530px) and (max-width: 754px) {
    .img_block {
        width: 555px;
        height: 362px;
    }
    .block_product {
        width: 556px;
    }
}

@media (min-width: 754px) and (max-width: 1000px) {
    .img_block  {
        width: 853px;
        height: 480px;
    }
    .block_product {
        width: 854px;
    }
}   